@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&family=Young+Serif&display=swap');

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      "content1 content1 content2 content2"
      "content1 content1 content3 content3"
      "content4 content4 content4 content4"
      "content5 content5 content5 content5"
      "footer footer footer footer";
    grid-gap: 1rem;
    text-transform: none;
    font-size: 12px;
    color: #004d40;
    margin-left: 140px;
    margin-right: 140px;
}
  
body {
    font-family: 'Montserrat';
    margin: 0;
    background-color: #d5d5d5;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
}

h2 {
  font-weight: 800;
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

.logo img {
  width: 160px;
  height: auto;
  margin-left: 2rem;
}

button:hover {
  filter: brightness(90%);
}

/* Top Bar Section */
nav {
  background-color: #90c9c2;
  height: 4rem;
  z-index: 2;
  margin: 0;
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -140px;
  margin-right: -140px;
}

nav.november {
  background-color: pink;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li:not(.dropdown) {
  text-align: center;
}

nav ul li a {
  position: relative;
  color: #ffff;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.12rem;
  height: 0.12rem;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li a:hover {
  color: white;
}

nav ul li a[rel~="active"] {
  color: white;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#check {
  display: none;
  background-color: #020202;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; 
  background-color: #1c9fa3;
  color: white;
  font-size: 1rem;
  list-style: none;
  padding: 0;
  width: 120px;
  height: 130px;
}

/* display the dropdown when the checkbox is checked */
#toggleDropdown:checked + ul .dropdown-menu {
  display: block;
}

/* style the dropdown items */
.dropdown-menu li {
  display: block;
}

.dropdown-menu {
  justify-content: left;
}

.dropdown-menu li:nth-child(1) {
  margin-top: 5px;
  margin-bottom: 10px;
}

.dropdown-menu li:nth-child(2) {
  margin-top: 10px;
}

#toggleDropdown {
  display: none;
}

/* TITLE */
#title {
  grid-area: title;
  display: flex;
  margin-top: 5rem;
}

#title h1 {
  margin: 0;
}

.pfp {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  overflow: hidden; 
  margin-right: 20px;
}

.pfp img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#content1 {
  grid-area: content1;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

#content1 label {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 20px;
  align-self: flex-start;
}

#content1 select {
  font-family: 'Montserrat';
  appearance: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
}

#content2 {
  grid-area: content2;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 35px;
}

#content3 {
  grid-area: content3;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 35px;
}

#content4 {
  grid-area: content4;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 35px;
}

#content5 {
  grid-area: content5;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 35px;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-details h1 {
  margin: 0;
}

.user-details h2 {
  margin-top: 5px;
}

table {
  font-size: 1.2rem;
  width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 1.8rem;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}