body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ccc;
}

/* Top Bar Section */
.top-bar {
    background-color: #90c9c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.logo img {
    width: auto; /* Adjusted width */
    height: 60px; /* Adjusted height */
}

.button {
    background-color: #1a2a3a;
    padding: 10px 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: auto; /* Adjusted width */
    height: 40px; /* Adjusted height */
    position: relative;
    margin-right: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #29405c;
    list-style: none;
    padding: 0;
    width: 150px;
    margin: 0;
    border: 1px solid #fff;
    text-align: center;
    right: 10px;
}

.icon.clicked .dropdown-menu {
    display: block;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 20px;
}

/* Grid Item */
.grid-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1em; /* Adjusted font size */
    font-weight: normal;
    height: auto; /* Adjusted height */
    width: calc(100% - 40px); /* Adjusted width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

/* Active Appointments Section */
#Active-Appointments {
    grid-area: 1 / 1 / 2 / 4;
    height: auto; /* Adjusted height */
    padding: 10px; /* Added padding */
    background-color: #e0f7fa; /* Light blue background color, you can change it */
}

/* Schedule Appointment Section */
#Schedule-Appointment {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%; /* Adjusted width */
    height: auto; /* Adjusted height */
    padding: 20px; /* Added padding */
    background-color: #e0f7fa; /* Light orange background color, you can change it */
}

/* Date-Time Section */
#Date-Time {
    grid-area: 2 / 3 / 3 / 4;
    width: 100%; /* Adjusted width */
    height: auto; /* Adjusted height */
    padding: 20px; /* Added padding */
}

/* Calendar Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px; /* Adjusted padding */
    text-align: center;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

td.past {
    color: #aaa;
    pointer-events: none;
}

#calendar-header {
    text-align: center;
    margin-bottom: 20px;
}
