<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/aboutme.css') }}">
    <title>User Account</title>
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logoBG.png') }}" alt="Logo">
        </div>
        <a class="button" href="{{ url_for('health_logger') }}">Health Logger</a>
        <a class="button" href="{{ url_for('medications') }}">Medications</a>
        <a class="button" href="{{ url_for('appointments') }}">Appointments</a>

        <div class="icon-container">
            <div class="icon" onclick="toggleDropdown(this)">
                <img src="{{ url_for('static', filename='dropdown.png') }}" alt="drop down" style="width: 80px; height: auto;">
                <ul class="dropdown-menu">
                    <li>
                        <a class="button" href="{{ url_for('about_me') }}">About Me</a>
                    </li>
                    <li>
                        <a class="button" href="{{ url_for('logout') }}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="profile-image">
        <img src="{{ url_for('static', filename='batman.jpg') }}" alt="Profile picture">
    </div>
</div>

<div class="row align-items-center">
    <div class="col-8">
        <h2>Batman</h2>
    </div>
    <br><br>
    <div class="1st-body">
        <!-- Primary Care Physician, Blood Group, Gender, Age, Health Insurance, Medical History, Treatment Plan-->
        <div class="Primary Care Physician">
            <label for="physician">Primary care Physician:</label>
            <input type="text" value="Dr. Harleen Quinzel"> 
        </div>
        <br>
        <div class="Blood Group">
            <label for="blood">Blood Group:</label>
            <select name="Select" id="blood-group">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB-">AB-</option>
            </select>
        </div>
        <div class="Gender">
            <label for="gender">Gender:</label>
            <select name="Select" id="gender">
                <option value="A+">Male</option>
                <option value="A-">Female</option>
            </select>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number">
        </div>
    </div>
</div>

</body>
</html>