<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/aboutme.css') }}">
    <title>User Account</title>
</head>

<body>

    <div class="container">
        <nav>
            <div class="logo">
            <a href="{{ url_for('user_profile') }}" rel="final">
                <img src="{{ url_for('static', filename='logoBG.png') }}" alt="Logo">
            </a>
            </div>
            <input type="checkbox" id="toggleDropdown">
            <ul>
                <li><a href="{{ url_for('medications') }}">Medications</a></li>
                <li><a href="{{ url_for('health_logger') }}">Health logger</a></li>
                <li><a href="{{ url_for('appointments') }}">Appointments</a></li>
                <li class="dropdown">
                    <label for="toggleDropdown" class="icon" rel="final">
                        <img src="{{ url_for('static', filename='dropdown.png') }}" alt="drop down" style="width: 40px; height: auto; ">
                    </label>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('about_me') }}">About Me</a></li>
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="title">
            <div class="pfp">
                <img src="{{ url_for('static', filename='batman.jpg') }}" alt="profile picture">
            </div>
            <h1>username</h1>
        </div>

        <div id="content1">

            <label for="blood">Blood Group</label>
            <select name="Select" id="blood-group">
                <option value="A+" readonly>A+</option>
            </select>
            <br>
            <label for="gender">Gender</label>
            <select name="Select" id="gender">
                <option value="male" readonly>Male</option>
            </select>
            <br>
            <label for="age">Age</label>
            <select name="number" min="1" max="100" readonly>
                <option>38</option>
            </select>
        </div>

        <div id="content2">
            <h2>Primary care Physician</h2>
            <p>Dr Harleen Quinzel</p>
        </div>

        <div id="content3">
            <h2>Health Insurance</h2>
            <p>Wayne Insurance</p>
        </div>

        <div id="content4">
            <h2>Medical History</h2>
            <p>115 broken bones; 6 broken ribs; broken hip-flexor; 35% of total body tissue is full of scars and bruises.
            </p>
        </div>

        <div id="content5">
            <h2>Treatment Plan</h2>
            <p>The guy should rest for the rest of his life.
            </p>
        </div>
    </div>
    </div>

</body>
</html>