<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="assets/logo_icon.ico">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/login.css') }}">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentMonth = new Date().getMonth();
            const currentDate = new Date().getDate();
    
            if ((currentMonth === 9) || (currentMonth === 11 && currentDate === 5)) {
                const titleBar = document.querySelector('.title-bar');
                const logoImage = document.querySelector('.logo img');
    
                if (currentMonth === 9) {
                    titleBar.classList.add('november');
                    logoImage.src = "{{ url_for('static', filename='PinkRibbion-Healthwave.png') }}";
                    logoImage.alt = "Pink Ribbon Healthwave Logo";
                } else if (currentMonth === 3 && currentDate === 22) {
                    logoImage.classList.add('water');
                    logoImage.src = "{{ url_for('static', filename='Earth-logo.png') }}";
                    logoImage.alt = "Earth Logo";
                }
            }
        });
    </script>
</head>
<body>
    <form method="POST" action="/login">
    <!-- Title Bar -->
    <div class="title-bar">
        <!-- No text in the title bar -->
    </div>

    <!-- Logo -->
    <div class="logo">
        <img src="{{ url_for('static', filename='logoBG.png') }}" alt="Logo">
    </div>

    <!-- Text Boxes -->
    <div class="text-box">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
    </div>
    
    <!-- "Remember Login" Text and Checkbox -->
    <div class="remember-login">
        <label for="remember-checkbox">Remember Login</label>
        <input type="checkbox" id="remember-checkbox">
    </div>

    <!-- Login Button -->
    <button type="submit" class="loginbtn">Login</button>
</form>

    <!-- Bottom Links -->
    <div class="bottom-links">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
    </div>
</body>
</html>
